version: '3.8'

services:
  ed-copilot:
    build: .
    image: ed-copilot
    container_name: ed-fusion
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8888:8888"  # Jupyter
      - "6006:6006"  # TensorBoard
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    stdin_open: true
    tty: true
    command: /bin/bash